* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  display: grid;
}
header {
  grid-area: 1/2/2/6;
  padding: 20px;
  box-shadow: 0px 5px 5px 0px rgb(173, 173, 173);
}
header .greet-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .greet-container .greet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
header .greet-container .greet img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

header .greet-container .btn button {
  margin-right: 30px;
  width: 100px;
  color: white;
  border-radius: 30px;
  padding: 10px;
  background-color: rgb(25, 146, 212);
  cursor: pointer;
}
header .search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .search-container .name-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  gap: 40px;
}
header .search-container .name-image .doggo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

header .search-container .search {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}
header .search-container input {
  width: 40vw;
  height: 3vh;
  border-radius: 10px;
  background-color: rgba(157, 157, 157, 0.3);
}
header .search-container input:focus {
  border: 4px solid blue;
}
nav {
  grid-area: 1/1/6/2;
  height: 100vh;
  background-color: rgb(25, 146, 212);
  padding: 20px;
}
nav .title {
  margin-top: 40px;
}
nav .title .inside {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 20px;
  gap: 10px;
  color: white;
}
nav a {
  color: white;
  text-decoration: none;
}

nav .nav-container {
  display: flex;
  flex-direction: column;
}
nav .nav-container .nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  margin-left: 20px;
}
nav .nav-container .nav .inside {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
nav .nav-container .settings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  margin-left: 20px;
}
nav .nav-container .settings .inside {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
img {
  height: 30px;
}

main {
  display: grid;
  background-color: rgba(157, 157, 157, 0.3);
  padding: 20px;
  gap: 20px;
  grid-area: 2/2/6/6;
}
main h2 {
  margin-bottom: 10px;
}
main .grid-1 {
  grid-area: 1/1/6/4;
}
main .grid-1 .main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

main .grid-1 .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 175px;
  width: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  border-left: 7px solid orange;
}
main .grid-1 .card .star {
  align-self: flex-end;
  display: flex;
  gap: 20px;
  margin-right: 10px;
}
main .grid-2 {
  grid-area: 1/5/6/6;
}

main .grid-2 .anouncement-card {
  width: 80%;
  padding: 2px;
  background-color: white;
  border-radius: 10px;
}
main .grid-2 .anouncement-card .cards {
  background-color: white;
  padding: 10px 10px;
  width: 80%;
  margin: 0 auto;
  border-bottom: 2px solid grey;
}
main .grid-2 .anouncement-card .last {
  background-color: white;
  padding: 10px 10px;
  width: 80%;
  margin: 0 auto;
}

main .grid-2 .trend .trending-card {
  background-color: white;
  height: auto;
  width: 80%;
  padding: 10px 10px;
  border-radius: 10px;
}

main .grid-2 .trend h2 {
  margin-top: 10px;
}
main .grid-2 .trend img {
  height: 30px;
  width: 30px;
}
main .grid-2 .trend .main-container {
  display: flex;
  align-items: center;
  margin-top: 11px;
  gap: 20px;
}
